# coding: utf-8

<h3><%= link_to "Папка", folders_path %></h3>
<% unless company_folders.nil? %>
    <% company_folders.each do |folder| %>
        <p>
          <%= link_to folder_path(folder) do %>
              <i class="icon-th"></i>
          <% end %>
          <%= link_to folder.folder_name, folder_path(folder) %>
          <%= link_to edit_folder_path(folder) do %>
              <i class="icon-edit"></i>
          <% end %>
          <%= link_to folder_path(folder), :confirm => 'Вы уверены?', :method => :delete do %>
              <i class="icon-remove"></i>
          <% end %>
        </p>
    <% end %>
<% end %>
