# coding: utf-8
<div class="span6 well">
  <%= link_to 'Новая папка', '#NewFolderModal', :data=>{:toggle => "modal"} %>
  <%= render "folder_list", :company_folders => @company_folders %>
</div>

<div class="span12 well">
  <% unless @folder.nil? %>
      <%= link_to 'Новый аттачмент', '#NewAttachmentModal', :data=>{:toggle => "modal"} %>
      <%= render "show_folder_attachments", :folder => @folder %>
      <%= render new_attachment_path, :new_attachment => @new_attachment %>
  <% end %>
</div>

<%= render new_folder_path, :new_folder => @new_folder %>
