    <%= semantic_form_for(@task, :remote=>false, :html => { :multipart => true}) do |f| %>
      <div id="box-styled-grey" style="width:25%">
        <div id="project_list">
          <%= render :partial => "projects/project_list" %>
        </div>
      </div>

     <div id="box-styled-grey" style="width:70%; height:100%" >
       <div id="box-styled-lightgrey" style="width:95%" >
           <%= f.inputs do %>
            <%= f.input :done, :label => "Статус",  :as => :select, :collection => options_for_select([["В процессе",0],
                       ["Выполнено",1]]) %>
           <%= f.input :title, :as => :text, :label => "Название", :input_html => { :class => 'autogrow', :rows => 4, :maxlength => 50  }%>
           <%= f.input :notes, :as => :text, :label => "Описание", :input_html => { :class => 'autogrow', :rows => 4, :maxlength => 50  }%>
           <%= f.input :priority, :label => "Приоритет",  :as => :select, :collection => options_for_select([["Высокий",3],
                      ["Средний",2],["Низкий",1]]) %>
           <%= f.input :due, :as => :string, :type => :datetime, :label => "Окончание"%>
           <%= f.input :second_user, :label =>"Исполнитель", :as => :select, :collection => Hash[current_user.company.users.map{|b| [b.email, b.id]}] %>
           <% end %>

           <br/>
           <%= f.buttons do %>
               <%= f.commit_button "Сохранить", :button_html => { :class => 'button-styled grey'}, :align=>"right" %>
           <% end %>
           <br/>
       </div>

       <div id="box-styled-lightgrey" style="width:95%" >
           <%= render :partial => new_comment_path(@comment) %>

           <%= f.buttons do %>
              <%= f.commit_button "Добавить", :button_html => { :class => 'button-styled grey', :id =>"add_comment"}%>
             <br/>
           <% end %>
       </div>
     </div>
  <% end %>

<% if current_user.set_chat == true %>
  <%= raw(Helper.get_chat_script(current_user)) %>
<% end %>