<%= semantic_form_for(@task, :remote=>false, :html => { :multipart => true}) do |f| %>
    <div id="box-styled-grey">
        <div id="project_list">
          <%= render :partial => "projects/project_list" %>
        </div>
    </div>


         <div id="box-styled-grey" style="width:70%">
          <% if @task.second_user == current_user %>
           <a href= <%= task_path(@task) %> >
           <div id="box-styled-lightgrey-task" style="width:98%">
               <% if @task.priority == 3 %>
                 <div class="tooltip-red">
                    <p style="margin:0 0 0 0"> Приоритет: Высокий&nbsp;(до:
               <% end %>

               <% if @task.priority == 2 %>
                    <div class="tooltip-yellow">
                       <p style="margin:0 0 0 0"> Приоритет: Средний&nbsp;(до:
               <% end %>

               <% if @task.priority == 1 %>
                    <div class="tooltip-green">
                       <p style="margin:0 0 0 0"> Приоритет: Низкий&nbsp;(до:
               <% end %>

               <% if @task.due.nil? %>
                  <i>не указано)</i>
               <% else %>
                  <i><%= @task.due %></i>)
               <% end %>

               </p>
               </div>

             <h1 style="text-align:center"><b><%= link_to @task.title, task_path(@task)%>
             <%= link_to image_tag("/system/icons/Edit.png", :height => 16, :width => 16), edit_task_path(@task) %>
             <%= link_to image_tag("/system/icons/Delete.png", :height => 16, :width => 16), task_path(@task), :confirm => 'Вы уверены?', :method => :delete %></b>(<%= @task.comments.all.count %> комментариев)</h1>
             <div id="box-styled-lightgrey-comment">
               <p><b>Описание:</b> <%= @task.notes %></p>
             </div>
             <p><%= image_tag @task.user.avatar.url, :height => "30px", :width => "30px" %> <%= @task.user.name %> <i><%= Helper.distance_of_time_in_words(DateTime.now.utc,@task.created_at) %></i></p>
           </div>
           </a>
          <% end %>

          <% @comments.each do |comment| %>
              <br/>
              <div id="box-styled-lightgrey" style="width:98%; background:#FAFAFA">
                <p><%= image_tag comment.user.avatar.url, :width => 30, :height => 30, :align=>'middle' %>
                <%= comment.user.name %> <%= Helper.distance_of_time_in_words(comment.comment_date,DateTime.now.utc) %></p>
                <p><%= comment.comment %></p>
                <% comment.task_attachments.each do |attachment| %>
                   <div id="box-styled-grey-attachment">
                      <%= image_tag AttachmentHelper.get_icon_path(attachment.attachment) %> <br/>
                      <%= link_to attachment.attachment_file_name, attachment.attachment.url(:original, false) %>
                   </div>
                <% end %>
              </div>
          <% end %>

          <div id="box-styled-lightgrey" style="width:98%;  background:#FAFAFA" >
               <%= render :partial => new_comment_path(@comment) %>
               <%= f.buttons do %>
                  <%= f.commit_button "Добавить", :button_html => { :class => 'button-styled grey', :id =>"add_comment"}%>
               <% end %>
          </div>
         </div>
    <% end %>

<% if current_user.set_chat == true %>
  <%= raw(Helper.get_chat_script(current_user)) %>
<% end %>