<% if !@themes.nil? %>
   <% @themes.each do |theme| %>
          <h1><%= link_to theme.theme, theme_path(theme) %></h1>
          <% if !theme.discussions.empty? %>
             <% theme.discussions.each do |discussion| %>
               <div id="box-styled-lightgrey" style="width:98%">
                  <p><b><%= link_to discussion.discussion, discussion_path(discussion)%>
                  <%= link_to image_tag("/system/icons/Edit.png", :height => 16, :width => 16), edit_discussion_path(discussion) %>
                  <%= link_to image_tag("/system/icons/Delete.png", :height => 16, :width => 16), discussion_path(discussion), :confirm => 'Вы уверены?', :method => :delete %></b></p>
                  <div id="box-styled-lightgrey-comment">
                    <br/>
                  </div>
                  <p><%= image_tag discussion.user.avatar.url, :height => "30px", :width => "30px" %> <%=discussion.user.name%> <%= Helper.distance_of_time_in_words(DateTime.now.utc,discussion.created_at) %></p>
               </div>
             <% end %>
          <% end %>
   <% end %>
<% end %>


<% if !@discussions.empty? %>
   <h1><%= link_to "Дискуссии", themes_path %></h1>
     <% @discussions.each do |discussion| %>
       <div id="box-styled-lightgrey" style="width:98%">
         <p><b><%= link_to discussion.discussion, discussion_path(discussion)%>
         <%= link_to image_tag("/system/icons/Edit.png", :height => 16, :width => 16), edit_discussion_path(discussion) %>
         <%= link_to image_tag("/system/icons/Delete.png", :height => 16, :width => 16), discussion_path(discussion), :confirm => 'Вы уверены?', :method => :delete %></b></p>
         <div id="box-styled-lightgrey-comment">
           <br/>
         </div>
         <p><%= image_tag discussion.user.avatar.url, :height => "30px", :width => "30px" %> <%=discussion.user.name%> <%= Helper.distance_of_time_in_words(DateTime.now.utc,discussion.created_at) %></p>
       </div>
     <% end %>
<% end %>
