<div id="box-styled-grey" style="width:95%" >
<h1>Новая тема</h1>
<%= semantic_form_for(@theme, :remote=>false, :html => { :multipart => true}) do |f| %>
   <%= f.inputs do %>
      <%= f.input :theme, :as => :text, :label => "Название", :input_html => { :class => 'autogrow', :rows => 4, :maxlength => 50  }%>
      <br/>
   <% end %>

    <div id="box-styled-lightgrey" style="border:0; width:95%" >
       <h1>Группы</h1>
       <br/>
         <div style="padding-left:7px">
            <%= check_box_tag 'group_ids[]', 0, false %>
            <%= label_tag "Все" %>
         </div>
       <% current_user.company.groups.each do |group| %>
           <div style="padding-left:7px">
              <%= check_box_tag 'group_ids[]', group.id, false %>
              <%= label_tag group.group_name %>
           </div>
       <% end %>
    </div>

      <div style="width:100%; text-align:center">
         <%= button_to 'Сохранить', @theme, :method => :create, :class => 'button-styled grey' %>
         <br/>
      </div>
<% end %>
</div>