# coding: utf-8

<h3><%= link_to "Темы", folders_path %></h3>
<% unless company_themes.nil? %>
    <% company_themes.each do |theme| %>
        <p>
          <%= link_to theme_path(theme) do %>
              <i class="icon-th"></i>
          <% end %>
          <%= link_to theme.theme_name, theme_path(theme) %>
          <%= link_to edit_theme_path(theme) do %>
              <i class="icon-edit"></i>
          <% end %>
          <%= link_to theme_path(theme), :confirm => 'Вы уверены?', :method => :delete do %>
              <i class="icon-remove"></i>
          <% end %>
        </p>
    <% end %>
<% end %>