# coding: utf-8

<div class="span6 well">
  <%= render "theme_list", :company_themes => @company_themes %>
</div>

<div class="span12 well">
  <%= semantic_form_for(@theme) do |f| %>
      <%= f.inputs do %>
          <%= f.input :theme_name, :label=>"Название", :as => :text, :input_html => { :class => 'autogrow', :rows => 4, :maxlength => 100 }%>
      <% end %>
      <%= button_to 'Сохранить', folders_path(@folder), :class => 'btn btn-primary' %>
  <% end %>
</div>