# coding: utf-8
<div class="span6 well">
   <%= link_to 'Новая тема', '#NewThemeModal', :data=>{:toggle => "modal"} %>
   <%= render "theme_list", :company_themes => @company_themes %>
</div>

<div class="span12 well">
  <div id="theme">
  <% unless @default_theme.nil? %>
    <h2><%= link_to @default_theme.theme_name, theme_path(@default_theme) %></h2>
  <% end %>
  </div>

  <%= render new_comment_path %>

</div>

<%= render new_theme_path, :new_theme => @new_theme %>



