<div id="box-styled-grey">
    <div id="box-styled-lightgrey" style="width:95%">
      <p><%= link_to "Новая тема", new_theme_path %></p>
      <p><%= link_to "Новое обсуждение", new_discussion_path %></p>
    </div>

    <div id="box-styled-lightgrey" style="width:95%">
      <h1>Темы</h1>
      <p><%= link_to "Все темы", themes_path %></p>
      <% if !@themes.nil? %>
         <% @themes.each do |theme| %>
            <p><%= link_to theme.theme, theme_path(theme) %>
               <%= link_to image_tag("/system/icons/Edit.png", :height => 16, :width => 16), edit_theme_path(theme) %>
               <%= link_to image_tag("/system/icons/Delete.png", :height => 16, :width => 16), theme_path(theme), :confirm => 'Вы уверены?', :method => :delete %>
            </p>
         <% end %>
      <% end %>
    </div>
</div>

<div id="box-styled-grey" style="width: 70%">
  <%= semantic_form_for(@theme, :remote=>false, :html => { :multipart => true}) do |f| %>
     <%= f.inputs do %>
        <%= f.input :theme, :as => :text, :label => "Название", :input_html => { :class => 'autogrow', :rows => 4, :maxlength => 50  }%>
        <br/>
     <% end %>

        <%= f.buttons do %>
           <%= button_to 'Сохранить', @theme, :method => :create, :class => 'button-styled grey' %>
           <br/>
        <% end %>
  <% end %>
</div>

<% if current_user.set_chat == true %>
  <%= raw(Helper.get_chat_script(current_user)) %>
<% end %>