<div id="box-styled-grey">
    <div id="box-styled-lightgrey" style="width:95%">
      <p><%= link_to "Новое обсуждение", new_discussion_path(:theme_id => @theme.id) %></p>
    </div>

    <div id="theme_list">
      <%= render :partial => "theme_list" %>
    </div>
</div>

<div id="box-styled-grey" style="width: 70%">
            <h1><%= link_to @theme.theme, theme_path(@theme) %></h1>
            <% if !@theme.discussions.empty? %>
               <% @theme.discussions.each do |discussion| %>
                 <div id="box-styled-lightgrey" style="width:98%">
                   <p><b><%= link_to discussion.discussion, discussion_path(discussion)%>
                   <%= link_to image_tag("/system/icons/Edit.png", :height => 16, :width => 16), edit_discussion_path(discussion) %>
                   <%= link_to image_tag("/system/icons/Delete.png", :height => 16, :width => 16), discussion_path(discussion), :confirm => 'Вы уверены?', :method => :delete %></b></p>
                   <div id="box-styled-lightgrey-comment">
                     <br/>
                   </div>
                   <p><%= image_tag discussion.user.avatar.url, :height => "30px", :width => "30px" %> <%=discussion.user.email%> <%= discussion.created_at %></p>
                 </div>
               <% end %>
            <% end %>
</div>

<% if current_user.set_chat == true %>
  <%= raw(Helper.get_chat_script(current_user)) %>
<% end %>