<div id="main_header" >
<%= semantic_form_for(@user, :url => account_path(@user)) do |f| %>
    <%= f.semantic_errors :email, :password, :company_name %>

    <div style="margin-left:20px">
      <%= f.inputs do %>
          <%= f.input :email, :required => false, :label => false %>
          <%= f.input :password, :required => false, :label => false %>
          <%= f.input :company_name, :required => false, :label => '.timtim.ru' %>
      <% end %>
    </div>
    <%= button_to t('user.buttons.register'), new_company_worker_path(@user), :method => :create, :class => 'btn btn-primary' %> 
<% end %>
</div>