<%= semantic_form_for(new_attachment) do |f| %>
    <div id="NewAttachmentModal" class="modal hide fade form-horizontal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>Прикрепить файл</h3>
      </div>

      <div class="modal-body well">
        <%= f.inputs do %>
           <%= f.file_field :attach %>
           <%= f.input :folder_id, :as => :hidden %>
        <% end %>

        <%= button_to 'Сохранить', new_attachment, :method => :create, :class => 'btn btn-primary' %>
      </div>
    </div>
<% end %>
</div>
