<!-- <div class='attachments'>
  <%= render :partial => 'attachment', :collection => @attachments %>
</div> -->
<br/>
<div class="note_message">
    Добавляйте новые файлы и они автоматически будут видны сотрудникам фирмы.
</div>
<table class="content_table">
  <tr>
    <th>Файл</th>
    <th>Сотрудник</th>
    <th>Дата</th>
  </tr>

<% @attachments.each do |attachment| %>
  <tr>
    <!-- <td><%= image_tag attachment.attach.url , :width => 200, :height => 200 %></td> -->
    <td><%= link_to attachment.attach_file_name, attachment.attach.url(:original, false) %></td>
    <td><b><%= attachment.user.email %></b></td>
    <td><b><%= attachment.created_at %></b></td>
  </tr>
<% end %>
</table>

<br/>
<br/>
<%= semantic_form_for(@attachment) do |f| %>

    <%= f.inputs do %>
        <%= f.input :attach, :as => :file, :required => true, :label => "Файл" %>
    <% end %>

    <%= f.buttons do %>
       <%= button_to 'Сохранить', @attachment, :method => :create, :class => 'button-styled blue' %>
    <% end %>

    <%= unless @attachment.id.nil?
        link_to 'Destroy', event_path(@attachment), :confirm => 'Are you sure?', :method => :delete
       end
    %>
    <br/>
    <%= raw(Helper.get_chat_script(current_user)) %>
<% end %>
