<!-- Probably move the stylesheet to you layout. Also make sure you include the javascript. -->
<%= stylesheet_link_tag "event_calendar"%>
<div id="new_ev">
<%= semantic_form_for(@event) do |f| %>
    <div class="note_message">
      Добавляйте новые события фирмы в календарь и они автоматически будут отображены в календаре. Изменяйте/удаляйте событие нажав на событие в календаре.
    </div>
    <br/>
    <%= f.inputs do %>
        <%= f.input :name, :as => :string, :label => "Событие", :required => true %>
        <%= f.input :start_at, :as => :string, :type => :datetime,  :label => "Дата начала", :required => true %>
        <%= f.input :end_at, :as => :string, :type => :datetime, :label => "Дата конца", :required => true %>
        <%= f.input :description, :as => :string, :label => "Описание", :input_html => { :rows => 10, :cols => 20, :maxlength => 10 } %>

        <%= f.input :color, :label => "Цвет",  :as => :select, :collection => options_for_select([["Красный","#FF0000", {:style => "background-color:Red; color: #FFFFFF;"}],
                    ["Зеленый","#00FF00", {:style => "background-color: Green; color: #FFFFFF;"}],
                    ["Синий","#0000FF", {:style => "background-color: Blue; color: #FFFFFF;"}]]) %>
    <% end %>

    <%= f.buttons do %>
         <%= button_to 'Сохранить', @event, :method => :update, :class => 'button-styled blue', :size => 50 %>

         <br/>
         <%= if !@event.id.nil? and @event.user == current_user
            button_to 'Удалить', event_path(@event), :confirm => 'Are you sure?', :method => :delete, :class => 'button-styled blue', :size => 50
           end
         %>
      <% end %>
<% end %>
</div>
