<%= semantic_form_for(@project, :remote=>false, :html => { :multipart => true}) do |f| %>
    <div id="box-styled-grey">
      <div id="project_list">
        <%= render :partial => "project_list" %>
      </div>
    </div>

    <div id="box-styled-grey" style="width:70%" >
       <%= f.inputs do %>
          <%= f.input :project_name, :as => :text, :label => "Описание", :input_html => { :class => 'autogrow', :rows => 4, :maxlength => 50  }%>
       <% end %>

       <%= f.buttons do %>
         <br/>
         <%= f.commit_button "Сохранить", :button_html => { :class => 'button-styled grey'}, :align=>"right" %>
         <br/>
       <% end %>
       <br/>
    </div>
<% end %>

<% if current_user.set_chat == true %>
  <%= raw(Helper.get_chat_script(current_user)) %>
<% end %>