# coding: utf-8
<div class="span6 well">
  <%= link_to 'Новый проект', '#NewProjectModal', :data=>{:toggle => "modal"} %>
  <%= render "project_list", :company_projects => @company_projects %>
</div>

<div class="span12 well">
  <% unless @project.nil? %>
      <%= link_to 'Новый таск', '#NewTaskModal', :data=>{:toggle => "modal"} %>
      <%= render new_task_path, :new_task => @new_task %>
  <% end %>
</div>

<%= render new_project_path, :new_project => @new_project %>
