# coding: utf-8

<h3><%= link_to "Календари", calendars_path %></h3>
<% unless company_calendars.nil? %>
   <% company_calendars.each do |calendar| %>
      <p>
         <%= link_to calendar_path(calendar) do %>
            <i class="icon-th"></i>
         <% end %>
         <%= link_to calendar.calendar_name, calendar_path(calendar), :remote => true %>
         <%= link_to edit_calendar_path(calendar) do %>
            <i class="icon-edit"></i>
         <% end %>
         <%= link_to calendar_path(calendar), :confirm => 'Вы уверены?', :method => :delete do %>
            <i class="icon-remove"></i>
         <% end %>
      </p>
   <% end %>
<% end %>

