# coding: utf-8

<div class="span6 well">
  <%= render "calendar_list", :company_calendars => @company_calendars %>
</div>

<div class="span12 well">
  <%= semantic_form_for(@calendar) do |f| %>
     <%= f.inputs do %>
        <%= f.input :calendar_name, :label=>"Название", :as => :text, :input_html => { :class => 'autogrow', :rows => 4, :maxlength => 100 } %>
     <% end %>
     <%= button_to 'Сохранить', calendars_path(@calendar), :class => 'btn btn-primary' %>
  <% end %>
</div>

