# coding: utf-8
<div class="span6 well">
   <%= link_to 'Новый календарь', '#NewCalendarModal', :data=>{:toggle => "modal"} %>
   <%= render "calendar_list", :company_calendars => @company_calendars %>
</div>

<div class="span12 well">
  <div id="calendar">
  <% unless @default_calendar.nil? %>
    <%= link_to 'Новое событие', '#NewEventModal', :data=>{:toggle => "modal"} %>
    <%= render new_event_path, :event => @event %>
    <h2><%= link_to @default_calendar.calendar_name, calendar_path(@default_calendar) %></h2>
    <%= raw(event_calendar) %>
  <% end %>
  </div>
</div>

<%= render new_calendar_path, :new_calendar => @new_calendar %>


