<script>
    $(document).ready(function() {
       $('.best_in_place').best_in_place();
    });
</script>

<div id="box-styled-grey" style="width:30%">
   <div id="calendar_list">
     <%= render :partial => "calendar_list" %>
   </div>
</div>


<div id="box-styled-grey" style="width:65%">
  <%= semantic_form_for(@calendar) do |f| %>
     <%= f.inputs do %>
        <%= f.input :calendar_name, :label=>"Название", :as => :text, :input_html => { :class => 'autogrow', :rows => 4, :maxlength => 100  }, :required => true %>
     <% end %>

      <div id="box-styled-lightgrey" style="border:0; width:95%" >
         <h1>Группы</h1>
         <br/>
           <div style="padding-left:7px">
              <%= check_box_tag 'group_ids[]', 0, false %>
              <%= label_tag "Все" %>
           </div>
           <br/>
         <% current_user.company.groups.each do |group| %>
             <div style="padding-left:7px">
                <%= check_box_tag 'group_ids[]', group.id, false %>
                <%= label_tag group.group_name %>
             </div>
             <br/>
         <% end %>
      </div>

   <%= f.buttons do %>
     <br/>
     <%= button_to 'Сохранить', @calendar, :method => :create, :class => 'button-styled grey' %>
     <br/>
   <% end %>
  <% end %>
</div>

<% if current_user.set_chat == true %>
  <%= raw(Helper.get_chat_script(current_user)) %>
<% end %>
