# coding: utf-8
<div class="span6 well">
  <%= link_to 'Новый календарь', '#NewCalendarModal', :data=>{:toggle => "modal"} %>
  <div id="calendar_list">
    <%= render "calendar_list", :company_calendars => @company_calendars %>
  </div>
</div>

<div class="span12 well">
  <% unless @calendar.nil? %>
    <%= link_to 'Новое событие', '#NewEventModal', :data=>{:toggle => "modal"} %>
    <h2><%= link_to @calendar.calendar_name, calendar_path(@calendar) %></h2>
    <%= raw(event_calendar) %>
  <% end %>
</div>

<%= render new_calendar_path, :new_calendar => @new_calendar %>
<%= render new_event_path, :event => @event %>

