<div id="box-styled-grey">
      <% if !@my_rooms.empty? %>
       <div id="box-styled-lightgrey" style="width:95%">
         <% @my_rooms.each do |room| %>
            <p>
               <%= link_to image_tag("/system/icons/Conference.png", :width=>"16px", :height=>"16px"), room_path(room) %>
               <%= link_to room.name, room_path(room)%>
               <%= link_to image_tag("/system/icons/Delete.png", :height => 16, :width => 16), room_path(room), :confirm => 'Вы уверены?', :method => :delete %>
            </p>
         <% end %>
       </div>
      <% end %>

     <% if !@rooms_with_me.empty? %>
      <div id="box-styled-lightgrey" style="width:95%">
       <% @rooms_with_me.each do |room| %>
          <p>
             <%= link_to image_tag("/system/icons/ConferenceOrange.png", :width=>"16px", :height=>"16px"), room_path(room) %>
             <%= link_to room.name, room_path(room)%>
             <%= link_to image_tag("/system/icons/Delete.png", :height => 16, :width => 16), room_path(room), :confirm => 'Вы уверены?', :method => :delete %>
          </p>
       <% end %>
      </div>
    <% end %>

  <div id="box-styled-lightgrey" style="width:95%">
     <h1>Сотрудники</h1>
     <div id="room_list">
        <%= render :partial => "room_list" %>
     </div>
  </div>
</div>

<div id="box-styled-grey" style="width:70%">
   <h1> Чат </h1>
   <div id="exampledivchat">
     <%= raw(Helper.get_chat_script_div(current_user)) %>
   </div>
</div>

