<%= semantic_form_for(@room, :remote=>true, :html => { :multipart => true}) do |f| %>
<div id="box-styled-grey">
     <% if !@my_rooms.empty? %>
       <div id="box-styled-lightgrey" style="width:95%">
         <% @my_rooms.each do |room| %>
            <p>
               <%= link_to image_tag("/system/icons/Conference.png", :width=>"16px", :height=>"16px"), room_path(room) %>
               <%= link_to room.name, room_path(room)%>
               <%= link_to image_tag("/system/icons/Delete.png", :height => 16, :width => 16), room_path(room), :confirm => 'Вы уверены?', :method => :delete %>
            </p>
         <% end %>
       </div>
      <% end %>

     <% if !@rooms_with_me.empty? %>
      <div id="box-styled-lightgrey" style="width:95%">
       <% @rooms_with_me.each do |room| %>
          <p>
             <%= link_to image_tag("/system/icons/ConferenceOrange.png", :width=>"16px", :height=>"16px"), room_path(room) %>
             <%= link_to room.name, room_path(room)%>
             <%= link_to image_tag("/system/icons/Delete.png", :height => 16, :width => 16), room_path(room), :confirm => 'Вы уверены?', :method => :delete %>
          </p>
       <% end %>
      </div>
    <% end %>

  <div id="box-styled-lightgrey" style="width:95%">
     <h1>Сотрудники</h1>
     <div id="room_list">
        <%= render :partial => "room_list_show" %>
     </div>
  </div>
</div>

<div id="box-styled-grey" style="width:70%">
  <div id="videobox">
  </div>
</div>
<% end %>

<script src="http://static.opentok.com/v0.91/js/TB.min.js" type="text/javascript"></script>
<script type="text/javascript">
	var apiKey = '11739502';
	var sessionId = "<%= @room.session_id %>";
	var token = "<%= @tok_token %>";
	var session;

	TB.addEventListener('exception', exceptionHandler);
	session = TB.initSession(sessionId);

	//Video chat event listeners
	session.addEventListener('sessionConnected', sessionConnectedHandler);
	session.addEventListener('streamCreated', streamCreatedHandler);
    session.addEventListener('streamDestroyed', streamDestroyedHandler);

	session.connect(apiKey, token);
</script>

<%= raw(Helper.get_chat_script(current_user)) %>

<% if current_user.set_chat == true %>
  <%= raw(Helper.get_chat_script(current_user)) %>
<% end %>