  <div id="box-styled-lightgrey" style="width:95%" >
     <h1>Задачи</h1>
     <% if !@tasks.empty? %>
        <h3>Созданные</h3>
        <% @tasks.each do |task| %>
           <div id="box-styled-grey" style="width:95%">
              <h3>Название: <%= task.title %> (<%= link_to 'link', task_path(task) %>)</h3>
              <p><%= image_tag User.find(task.user_id).avatar.url, :width => "20px", :height => "20px", :align=>'bottom' %>
                 <%= task.user.name %> <i><%= Helper.distance_of_time_in_words(task.created_at,DateTime.now.utc) %></i></p>
            </div>
        <% end %>
        <% if !params[:task_number].nil? %>
           <%= link_to 'Свернуть', company_worker_path(@user, :task_number => 2), :remote => true %>
        <% else %>
           <%= link_to 'Подробнее', company_worker_path(@user, :task_number => 0), :remote => true %>
        <% end %>
     <% end %>

    <% if !@closed_tasks.empty? %>
       <h3>Закрытые</h3>
       <% @closed_tasks.each do |task| %>
          <div id="box-styled-grey" style="width:95%">
             <h3>Название: <%= task.title %> (<%= link_to 'link', task_path(task) %>)</h3>
             <p><%= image_tag User.find(task.user_id).avatar.url, :width => "20px", :height => "20px", :align=>'bottom' %>
                <%= task.user.name %> <i><%= Helper.distance_of_time_in_words(task.created_at,DateTime.now.utc) %></i></p>
           </div>
       <% end %>
       <% if !params[:task_number].nil? %>
          <%= link_to 'Свернуть', company_worker_path(@user, :closed_task_number => 2), :remote => true %>
       <% else %>
          <%= link_to 'Подробнее', company_worker_path(@user, :closed_task_number => 0), :remote => true %>
       <% end %>
    <% end %>
  </div>

  <div id="box-styled-lightgrey" style="width:95%" >
     <h1>События</h1>
     <% if !@events.empty? %>
       <% @events.each do |event| %>
            <div id="box-styled-grey" style="width:95%">
              <h3>Название: <%= event.name %> (<%= link_to 'link', calendar_path(event.calendar_id) %>)</h3>
              <p><%= image_tag User.find(event.user_id).avatar.url, :width => "20px", :height => "20px", :align=>'bottom' %>
              <%= event.user.name %> <i><%= Helper.distance_of_time_in_words(event.created_at,DateTime.now.utc) %></i></p>
            </div>
       <% end %>
       <% if !params[:event_number].nil? %>
          <%= link_to 'Свернуть', company_worker_path(@user, :event_number => 2), :remote => true %>
       <% else %>
          <%= link_to 'Подробнее', company_worker_path(@user, :event_number => 0), :remote => true %>
       <% end %>
     <% end %>
  </div>

  <div id="box-styled-lightgrey" style="width:95%" >
  <h1>Файлы</h1>
    <% @attachments.each do |attachment| %>
        <div id="box-styled-grey-attachment">
          <%= image_tag AttachmentHelper.get_icon_path(attachment.attach) %> <br/>
          <%= link_to attachment.attach_file_name, attachment.attach.url(:original, false) %>
          <p id="time_field"><%= Helper.distance_of_time_in_words(DateTime.now.utc,attachment.created_at) %></p>
        </div>
    <% end %>
  </div>
