    <div class="note_message">
      В данном окне Вы можете просмотреть сотрудников фирмы.
    </div>
<br/>
<table class="content_table">
  <tr>
    <th>Имя</th>
    <th>Фамилия</th>
    <th>E-mail</th>
    <th></th>
  </tr>

<% @workers.each do |worker| %>
  <tr>
    <td><b><%= worker.first_name %></b></td>
    <td><%= worker.last_name %></td>
    <td><%= worker.email %></td>
    <td>
      <%= if current_user.role == Role::MANAGER
       button_to( 'Удалить', worker_path(:id => worker.id),  :confirm => 'Вы уверены?', :method => :delete)
      end %>
    </td>
  </tr>
<% end %>
</table>

<%= raw(Helper.get_chat_script(current_user)) %>