<% title t('company.titles.workers') %>

<table>
  <tr>
    <th>Имя</th>
    <th>Фамилия</th>
    <th>Email</th>
  </tr>

<% @workers.each do |worker| %>
  <tr>
    <td><b><%= worker.first_name %></b></td>
    <td><%= worker.last_name %></td>
    <td><%= worker.email %></td>
    <td><%= button_to( 'Удалить', worker_path(:id => worker.id),  :confirm => 'Вы уверены?', :method => :delete)%></td>
  </tr>
<% end %>
</table>

<%= raw(Helper.get_chat_script(current_user)) %>