 # coding: utf-8

<div id="box-styled-grey" style="width:70%">
  <div id="box-styled-lightgrey" style="width:95%" >
     <h1>Задачи</h1>
     <% if !@tasks.empty? %>
       <% @tasks.each do |task| %>
          <br/>
          <div id="box-styled-lightgrey" style="width:95%">
             <%= task.title %><%= link_to 'link', task_path(task.id) %>
             <%= task.created_at %>
          </div>
       <% end %>
     <% end %>
  </div>

  <div id="workers_show_events">
  <div id="box-styled-lightgrey" style="width:95%" >
     <h1>События</h1>
     <% if !@events.empty? %>
       <% @events.each do |event| %>
          <br/>
          <div id="box-styled-lightgrey" style="width:95%">
             <%= event.name %><%= link_to 'link', event_path(event.id) %>
             <%= event.created_at %>
          </div>
       <% end %>
     <% end %>
  </div>
  </div>
</div>

<% if current_user.set_chat == true %>
  <%= raw(Helper.get_chat_script(current_user)) %>
<% end %>