# coding: utf-8
<div class="row-fluid">
  <div class="span12"></div>
  <div class="span12"></div>
  <div class="span12"></div>
  <div class="span12"></div>
  <div class="span4"></div>
  <div class="span3">
     <h1><small><%= t('user.titles.login') %></small></h1>
     <div class="hero-unit">
       <%= semantic_form_for(@user_session, :url => user_session_path) do |f| %>
           <%= f.semantic_errors :email, :password %>

           <%= f.input :email, :required => false, :label => "Email" %>
           <%= f.input :password, :required => false, :label => "Пароль" %>

           <%= f.submit :class => "btn btn-primary" %>

       <% end %>
     </div>
  </div>
  <div class="span4"></div>
</div>
