<div id="login_button">
    <%= render :partial => 'accounts/logged_in' if logged_in? %>
    <div id="main_header">
      <ul>
        <a href="#" style="color: #deeeff; text-decoration:none;"><li style="float:left; border: none; padding-left:10px; font-size: 16px;">TimTim.ru</li></a>
        <% if !logged_in? %>
            <li>
              <%= link_to(t('user.buttons.login'), new_user_session_path)  %>
            </li>
        <% end %>

        <% if !logged_in? %>
            <li>
              <%= link_to(t('user.buttons.demo'), create_demo_user_session_path) %>
            </li>
        <% end %>

        <% if logged_in? %>
            <li>
              <%= link_to(t('user.buttons.logout'), logout_path, :method => :delete) %>
            </li>
        <% end %>

        <% if !logged_in? && @current_path != root_path %>
            <li>
              <%= link_to(t('user.buttons.register'), root_path)  %>
            </li>
        <% end %>
      </ul>
    </div>
</div>
