<div id="login_button">
    <%= render :partial => 'accounts/logged_in' if logged_in? %>
    <!-- <%= link_to(t('user.buttons.login'), new_user_session_path) if !logged_in? && @current_path != new_user_session_path && @current_path != user_session_path %> -->
    <%= link_to(t('user.buttons.login'), new_user_session_path) if !logged_in? %>
    <%= link_to(t('user.buttons.demo'), create_demo_user_session_path) if !logged_in? %>
    <%= link_to(t('user.buttons.logout'), logout_path, :method => :delete) if logged_in? %>
    <%= link_to(t('user.buttons.register'), root_path) if !logged_in? && @current_path != root_path %>
</div>
