<!DOCTYPE html>
<html>
<head>
  <%= render :partial => 'layouts/html_head' %>
  <%= raw(Helper.get_chat_script(nil)) %>
</head>
<body>
<div id="all">
  <div id="header">
    <%= render :partial => 'layouts/header' %>
    <%= render :partial => "layouts/navigation" %>
    <%= render :partial => 'layouts/sub_navigation' %>
  </div>
  <div id="content">
    <%= render :partial => 'layouts/flash' %>
    <h1><%= display_headline %></h1>
    <%= netzke_init %>
    <style type="text/css" media="screen">
      .netzke-component { height: 400px; }
    </style>
    <%= yield %>
  </div>

  <div id="empty"></div>
  <div id="footer">
    <%= render :partial => 'layouts/footer' %>
  </div>
</div>
<%= link_to('Logout', logout_path, :method => :delete) if logged_in? %>
</body>
</html>
