<!DOCTYPE html>
<html>
<head>
  <%= render :partial => 'layouts/html_head' %>
  <!-- <%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/redmond/jquery-ui.css", "application" %> -->
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag 'jquery-1.4.2.min.js', 'application' %>
  <%= javascript_include_tag 'jquery-1.4.2.min.js', 'jquery-ui-1.8.2.custom.min.js' %>
  <!-- <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js", "application" %> -->
  <%= stylesheet_link_tag "scaffold", "appofmydreams", 'jquery-ui-1.8.2-custom.css' %>
  <%= csrf_meta_tag %>

</head>
<body>
<div id="all">
  <div id="header">
    <%= render :partial => 'layouts/header' %>
    <%= render :partial => "layouts/navigation" %>
    <%= render :partial => 'layouts/sub_navigation' %>
  </div>
  <div id="content">
    <%= render :partial => 'layouts/flash' %>
    <h1><%= display_headline %></h1>
    <%= netzke_init %>
    <%= javascript_include_tag "../../../public/extjs/locale/ext-lang-ru.js" %>
    <%= yield %>
  </div>
  <div id="empty"></div>
  <div id="footer">
    <%= render :partial => 'layouts/footer' %>
  </div>
</div>
<%= link_to('Logout', logout_path, :method => :delete) if logged_in? %>
</body>
</html>
