<!DOCTYPE html>
<html>
<head>
  <%= render :partial => 'layouts/html_head' %>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>


</head>
<body>

  <%= render :partial => 'layouts/header' %>
  <%= render :partial => "layouts/navigation" %>

  <%= render :partial => 'layouts/flash' %>
  <h1><%= display_headline %></h1>
  <%= yield %>
</body>
</html>
