<!DOCTYPE html>
<html>
<head>
  <%= render :partial => 'layouts/html_head' %>
  <%= csrf_meta_tags %>

  <!-- Yandex.Metrika counter -->
  <script type="text/javascript">
  (function (d, w, c) {
      (w[c] = w[c] || []).push(function() {
          try {
              w.yaCounter13444135 = new Ya.Metrika({id:13444135, enableAll: true, webvisor:true});
          } catch(e) {}
      });
    
    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f);
    } else { f(); }
  })(document, window, "yandex_metrika_callbacks");
  </script>
</head>
<body>

<div id="main">
    <%= render :partial => 'layouts/main_header' %>
    <div class="header_label">
      <div id="header">
        <div class="shell">
          <h1 id="logo"> <%= image_tag "Logo.jpg" %> <span>Начни бизнес сейчас!</span> </h1>
      </div>
    </div>
</div>
    <%= yield %>
    <div class="footer_label">
      <p> &copy; <a href="http://timtim.ru">TimTim.ru</a>, 2012. Служба поддержки: <a href="http://vk.com/timtim_ru">http://vk.com/timtim_ru</a></p>
    </div>
</body>
</html>
