<!DOCTYPE html>
<html>
<head>
  <%= render :partial => 'layouts/html_head' %>
  <%= csrf_meta_tags %>
  <%= raw(Helper.get_chat_script(nil)) %>
</head>
<body>
<div id="main">
    <%= render :partial => 'layouts/main_header' %>
    <h1><%= t('application.title') %></h1>
    <%= yield %>
</div>
</body>
</html>
