<!DOCTYPE html>
<html>
<head>
  <%= render :partial => 'layouts/html_head' %>
  <%= csrf_meta_tags %>
  <script type="text/javascript"> var envoSn=50879; env_commandString='c4a711c470d346b34b3b6b7c71045daaf617c466;1326352852000;v=0.3,c=login,fn=Um9iZXJ0,ln=U21pdGg=,pic=aHR0cDovL3d3dy5leGFtcGxlLmNvbS9waWMucG5n,prof=aGVsbG8ga2l0dHk=,admin=t'; var envProtoType = (("https:" == document.location.protocol) ? "https://" : "http://"); document.write(unescape("%3Cscript src='" + envProtoType + "d.envolve.com/env.nocache.js' type='text/javascript'%3E%3C/script%3E")); </script>
</head>
<body>
<div id="main">
    <%= render :partial => 'layouts/main_header' %>
    <h1><%= t('application.title') %></h1>
    <%= yield %>
</div>
</body>
</html>
