# coding: utf-8
<div class="span6 well form-horizontal">
    <%= semantic_form_for(@user, :remote => true, :url => account_path(@user), :html => { :multipart => true }) do |f| %>
       <%= image_tag @user.avatar.url, :class => "img-polaroid thumbnail", :height => 320, :width => 320, :align=>:left %>

       <%= f.inputs do %>
          <br/>
          <%= f.input :avatar, :as => :file, :label =>"Аватар", :input_html => { :accept => "image/*" } %>
          <%= f.input :email, :as => :string, :input_html => { :readonly => true }, :label => "E-mail" %>
          <%= f.input :first_name, :as => :string, :label => "Имя" %>
          <%= f.input :last_name, :as => :string, :label => "Фамилия" %>
          <%= f.input :telephone, :as => :string, :label => "Телефон" %>
          <%= f.input :address, :as => :string, :label => "Адрес" %>
          <%= f.input :set_chat, :as => :radio, :collection => {"Нет" => false, "Да" => true}, :label=>"Показать чат" %>
       <% end %>

       <%= f.inputs do %>
          <% if current_user.email!="test1@test.com" %>
             <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                * Изменить пароль
             </a>

             <div id="collapseOne" class="accordion-body collapse">
               <div class="accordion-inner">
                 <%= f.input :password, :as => :password, :label => "Новый пароль" %>
                 <%= f.input :password_confirmation, :as => :password, :label => "Подтверждение" %>
               </div>
             </div>
          <% end %>
       <% end %>
       <br/>
       <%= f.submit :class => "btn btn-primary" %>
  <% end %>
</div>

<div class="span2 well">
   <a href="#NewTaskModal" data-toggle="modal"><%= image_tag("/system/icons/NewTask.png", :height => 200, :width => 200) %></a><br/>
   <a href="#NewTaskModal" data-toggle="modal">Новая задача</a>
</div>
<%= render :partial => new_task_path %>

<div class="span2 well">
     <%= link_to image_tag("/system/icons/Tasks.png", :height => 200, :width => 200), projects_path %><br/>
     <%= link_to 'Задачи', projects_path, :input_html => { :style => "text-align: center"} %>
</div>

<div class="span2 well">
     <%= link_to image_tag("/system/icons/Themes.png", :height => 200, :width => 200), themes_path %><br/>
     <%= link_to 'Обсуждения', themes_path %>
</div>

<div class="span2 well">
     <%= link_to image_tag("/system/icons/News.png", :height => 200, :width => 200), company_workers_path %><br/>
     <%= link_to 'Сотрудники', company_workers_path %>
</div>

<div class="span2 well">
     <a href="#NewEventModal" data-toggle="modal"><%= image_tag("/system/icons/NewEvent.png", :height => 200, :width => 200)%></a><br/>
     <a href="#NewEventModal" data-toggle="modal">Новое событие</a>
</div>
<%= render :partial => new_event_path %>

<div class="span2 well">
     <%= link_to image_tag("/system/icons/Calendars.png", :height => 200, :width => 200), calendars_path %><br/>
     <%= link_to 'Календари', calendars_path %>
</div>

<div class="span2 well">
     <a href="#NewAttachmentModal" data-toggle="modal"><%= image_tag("/system/icons/NewAttachment.png", :height => 200, :width => 200)%></a><br/>
     <a href="#NewAttachmentModal" data-toggle="modal">Новый файл</a>
</div>
<%= render :partial => new_attachment_path %>

<div class="span2 well">
     <%= link_to image_tag("/system/icons/Attachments.png", :height => 200, :width => 200), folders_path %><br/>
     <%= link_to 'Файлы', folders_path %>
</div>

<% if current_user.set_chat == true %>
  <%= raw(Helper.get_chat_script(current_user)) %>
<% end %>


