# coding: utf-8

<%= semantic_form_for(@user, :url => account_path(@user), :html => { :multipart => true }) do |f| %>
    <div class="note_message">
      Заполните профиль и Ваше имя/фамилия будут отображены в чате.
    </div>
    <br/>
    <table class="profile_table">
      <tr>
        <td valign="top">
            <%= image_tag @user.avatar.url, :width => 200, :height => 200 %>
            <br/><br/>
            <%= f.file_field :avatar, :accept => "image/*" %>
        </td>
        <td valign="top">
            <%= f.inputs do %>
              <%= f.input :email, :as => :string, :input_html => { :readonly => true }, :label => "E-mail" %>
              <%= f.input :first_name, :as => :string, :label => "Имя" %>
              <%= f.input :last_name, :as => :string, :label => "Фамилия" %>
            <% end %>
            <br/>
            <%= if current_user.email!="test@test.com"
              label_tag :change_password, "Изменить пароль"
            end %>
            <%= if current_user.email!="test@test.com"
              check_box_tag :change_password, 1, params[:change_password]
            end %>
            <%= f.inputs do %>
              <%= if current_user.email!="test@test.com"
                   f.input :new_password, :as => :password, :label => "Пароль"
              end %>
              <%= if current_user.email!="test@test.com"
                   f.input :new_password_confirmation, :as => :password, :label => "Подтверждение"
              end %>
            <% end %>
            <br/>
                 <%= f.buttons do %>
                 <%= f.commit_button "Сохранить", :button_html => { :class => 'button-styled blue'}%> <br/>

            <% end %>
        </td>
    </table>
    <%= raw(Helper.get_chat_script(current_user)) %>
<% end %>




