# coding: utf-8
<%= semantic_form_for(@user, :url => account_path(@user), :html => { :multipart => true }) do |f| %>
    <br/>
    <table class="profile_table">
      <tr>
        <td>
            <%= image_tag @user.avatar.url, :width => 200, :height => 200 %>
            <br/><br/>
            <%= f.file_field :avatar, :accept => "image/*" %>
        </td>
        <td>
            <%= f.inputs do %>
              <%= f.input :email, :as => :string, :input_html => { :readonly => true }, :label => "E-mail" %>
              <%= f.input :first_name, :as => :string, :label => "Имя" %>
              <%= f.input :last_name, :as => :string, :label => "Фамилия" %>
            <% end %>
            <br/>
                 <%= f.buttons do %>
                 <%= f.commit_button "Сохранить", :button_html => { :class => 'button-styled blue'}%> <br/>
            <% end %>
        </td>
    </table>
    <%= raw(Helper.get_chat_script(current_user)) %>
<% end %>




